/* screen - bestelldaten2 */

.bestelldaten2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 41px;
  height: 841.89px;
  padding: 11.8px 38.0px;
  width: 595.28px;
}

.bestelldaten2 .frame-23 {
  height: 50px;
  margin-left: 5.0px;
  margin-top: 6px;
  width: 165px;
}

.bestelldaten2 .flex-row {
  gap: 13px;
  height: 721px;
  min-width: 517px;
}

.bestelldaten2 .overlap-group {
  height: 695px;
  margin-top: 5.22px;
  position: relative;
  width: 31px;
}

.bestelldaten2 .rectangle-11 {
  height: 22px;
  left: 5px;
  top: 5px;
  width: 22px;
}

.bestelldaten2 .rectangle-12 {
  height: 12px;
  left: 9px;
  top: 66px;
  width: 12px;
}

.bestelldaten2 .rectangle-13 {
  height: 12px;
  left: 9px;
  top: 121px;
  width: 12px;
}

.bestelldaten2 .rectangle-14 {
  height: 12px;
  left: 9px;
  top: 172px;
  width: 12px;
}

.bestelldaten2 .rectangle-15 {
  height: 12px;
  left: 9px;
  top: 221px;
  width: 12px;
}

.bestelldaten2 .rectangle-16 {
  height: 12px;
  left: 9px;
  top: 277px;
  width: 12px;
}

.bestelldaten2 .rectangle-17 {
  height: 12px;
  left: 9px;
  top: 331px;
  width: 12px;
}

.bestelldaten2 .rectangle-18 {
  height: 12px;
  left: 9px;
  top: 401px;
  width: 12px;
}

.bestelldaten2 .rectangle-19 {
  height: 12px;
  left: 9px;
  top: 470px;
  width: 12px;
}

.bestelldaten2 .rectangle-20 {
  height: 12px;
  left: 9px;
  top: 526px;
  width: 12px;
}

.bestelldaten2 .rectangle-21 {
  height: 12px;
  left: 9px;
  top: 581px;
  width: 12px;
}

.bestelldaten2 .rectangle-22 {
  height: 12px;
  left: 9px;
  top: 633px;
  width: 12px;
}

.bestelldaten2 .linear-essentional-ui-check-circle {
  height: 14px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 14px;
}

.bestelldaten2 .flex-col {
  flex-direction: column;
  min-height: 721px;
  width: 473px;
}

.bestelldaten2 .besttigungen-beim-kauf {
  color: #4b494a;
  font-family: var(--font-family-inter);
  font-size: 29.3px;
  font-weight: 700;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten2 .flex-container-6362637 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 588px;
  margin-left: 4.21px;
  margin-top: 29px;
  position: relative;
  width: 469px;
}

.bestelldaten2 .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.2px;
  position: relative;
}

.bestelldaten2 .datebook {
  color: var(--nugget);
  font-family: var(--font-family-helvetica-bold);
  font-size: 6.7px;
  font-weight: 700;
  height: 8px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9.21px;
  margin-top: 51px;
  white-space: nowrap;
}

.bestelldaten2 .companyname-co {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 6.3px;
  font-weight: 400;
  height: 8px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9.21px;
  margin-top: 2px;
}

.bestelldaten2 .rectangle {
  background-color: var(--nugget);
  position: absolute;
  transform: rotate(-45deg);
}
