/* screen - bestelldaten1 */

.bestelldaten1 {
  background-color: var(--white);
  height: 841.89px;
  position: relative;
  width: 595.28px;
}

.bestelldaten1 .overlap-group {
  height: 695px;
  left: 38px;
  position: absolute;
  top: 114px;
  width: 32px;
}

.bestelldaten1 .rectangle-11 {
  top: 5px;
}

.bestelldaten1 .rectangle-12 {
  top: 274px;
}

.bestelldaten1 .rectangle-13 {
  top: 581px;
}

.bestelldaten1 .outline-users-user-circle {
  height: 14px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 14px;
}

.bestelldaten1 .linear-settings-fine-tuning-settings {
  height: 14px;
  left: 9px;
  position: absolute;
  top: 279px;
  width: 14px;
}

.bestelldaten1 .price {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 13.9px;
  font-weight: 700;
  height: 17px;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 582px;
}

.bestelldaten1 .frame-23 {
  height: 50px;
  left: 43px;
  position: absolute;
  top: 18px;
  width: 165px;
}

.bestelldaten1 .flex-col {
  flex-direction: column;
  left: 91px;
  min-height: 297px;
  position: absolute;
  top: 533px;
  width: 467px;
}

.bestelldaten1 .provider-container {
  align-items: flex-start;
  display: flex;
  gap: 68px;
  margin-left: 6px;
  min-width: 233px;
}

.bestelldaten1 .provider {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 41px;
}

.bestelldaten1 .customer {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.bestelldaten1 .browser-container {
  align-items: flex-start;
  display: flex;
  gap: 69px;
  margin-left: 6px;
  margin-top: 11px;
  min-width: 197px;
}

.bestelldaten1 .browser {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 40px;
}

.bestelldaten1 .mobil-container {
  align-items: flex-start;
  display: flex;
  gap: 21px;
  margin-left: 6px;
  margin-top: 11px;
  min-width: 191px;
}

.bestelldaten1 .mobilfunk {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 88px;
}

.bestelldaten1 .mobil-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 21px;
  margin-left: 6px;
  margin-top: 11px;
  min-width: 229px;
}

.bestelldaten1 .flex-row {
  gap: 39px;
  margin-left: 6px;
  margin-top: 11px;
  min-width: 171px;
}

.bestelldaten1 .betriebssytem {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 70px;
}

.bestelldaten1 .title {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 29.4px;
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.21px;
  margin-top: 49px;
}

.bestelldaten1 .die-kosten-sind-sub {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14.4px;
  margin-top: 22px;
  min-height: 40px;
  width: 467px;
}

.bestelldaten1 .span-1 {
  color: var(--mine-shaft);
  font-weight: 700;
}

.bestelldaten1 .datebook {
  color: var(--nugget);
  font-family: var(--font-family-helvetica-bold);
  font-size: 6.7px;
  font-weight: 700;
  height: 8px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 28px;
  white-space: nowrap;
}

.bestelldaten1 .companyname-co {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 6.3px;
  font-weight: 400;
  height: 8px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2px;
}

.bestelldaten1 .flex-col-1 {
  align-items: flex-start;
  left: 93px;
  min-height: 410px;
  top: 112px;
  width: 222px;
}

.bestelldaten1 .stammdaten {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 28.5px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.21px;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-1 {
  align-items: flex-start;
  gap: 74px;
  margin-top: 16px;
  min-width: 131px;
}

.bestelldaten1 .anrede {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 35px;
}

.bestelldaten1 .sex {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .name-container {
  align-items: flex-start;
  display: flex;
  gap: 66px;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 141px;
}

.bestelldaten1 .vorname {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 43px;
}

.bestelldaten1 .name {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.4px;
  font-weight: 400;
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .name-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 58px;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 154px;
}

.bestelldaten1 .nachname {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 51px;
}

.bestelldaten1 .surname {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-2 {
  align-items: flex-start;
  gap: 77px;
  margin-top: 9px;
  min-width: 185px;
}

.bestelldaten1 .strae {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 32px;
}

.bestelldaten1 .customerstreet {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-3 {
  align-items: flex-start;
  gap: 45px;
  margin-top: 9px;
  min-width: 194px;
}

.bestelldaten1 .hausnummer {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 64px;
}

.bestelldaten1 .customerbuilding {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-4 {
  align-items: flex-start;
  gap: 93px;
  margin-top: 9px;
  min-width: 194px;
}

.bestelldaten1 .ort {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 16px;
}

.bestelldaten1 .customerlocation {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-5 {
  align-items: flex-start;
  gap: 90px;
  margin-top: 9px;
  min-width: 172px;
}

.bestelldaten1 .plz {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 19px;
}

.bestelldaten1 .customerzip {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .mail-container {
  align-items: flex-start;
  display: flex;
  gap: 78px;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 182px;
}

.bestelldaten1 .e-mail {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 31px;
}

.bestelldaten1 .customeremail {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-6 {
  align-items: flex-start;
  gap: 38px;
  margin-top: 9px;
  min-width: 191px;
}

.bestelldaten1 .handynummer {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 71px;
}

.bestelldaten1 .systemdaten {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 28.4px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 40px;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-7 {
  align-items: flex-end;
  gap: 40px;
  margin-top: 25px;
  min-width: 169px;
}

.bestelldaten1 .bestell-domain {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 69px;
}

.bestelldaten1 .productsite {
  height: 11px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 60px;
  white-space: nowrap;
}

.bestelldaten1 .flex-row-8 {
  align-items: flex-start;
  gap: 56px;
  margin-top: 11px;
  min-width: 169px;
}

.bestelldaten1 .ip-adresse {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 53px;
}

.bestelldaten1 .flex-row-9 {
  align-items: flex-start;
  gap: 28px;
  margin-top: 11px;
  min-width: 218px;
}

.bestelldaten1 .ortsbestimmung {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 81px;
}

.bestelldaten1 .flex-row-10 {
  align-items: flex-start;
  gap: 82px;
  margin-top: 11px;
  min-width: 217px;
}

.bestelldaten1 .gert {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 27px;
}

.bestelldaten1 .flex-col-2 {
  align-items: center;
  left: 381px;
  min-height: 511px;
  top: 17px;
  width: 178px;
}

.bestelldaten1 .bestelldaten {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 28.7px;
  font-weight: 700;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 178px;
}

.bestelldaten1 .registrationdatetime {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 7.0px;
  margin-top: 2px;
  text-align: right;
  width: 169px;
}

.bestelldaten1 .image-1 {
  height: 260px;
  margin-left: 0.9px;
  margin-top: 64px;
  object-fit: cover;
  width: 80px;
}

.bestelldaten1 .image-2 {
  height: 80px;
  margin-left: 7.0px;
  margin-top: 88px;
  object-fit: cover;
  width: 157px;
}

.bestelldaten1 .flex-col-3 {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.bestelldaten1 .flex-row-11 {
  display: flex;
  margin-left: 4px;
}

.bestelldaten1 .rectangle {
  background-color: var(--nugget);
  height: 22px;
  left: 5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 22px;
}
