@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400");

@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

.line-5 {
  height: 684px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 1px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.companyvat {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 65.76px;
  margin-top: 4px;
  min-width: 69px;
}

.sehr-geehrter-sex {
  left: 43px;
  letter-spacing: 0;
  line-height: 13.6px;
  position: absolute;
  top: 402px;
  width: 505px;
}

.ausgestellt-in-companycity {
  height: 12px;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 329px;
}

.username-name-surname {
  color: var(--mine-shaft);
  font-family: var(--font-family-nunito-bold);
  font-size: 10.5px;
  font-weight: 700;
  height: 14px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 344px;
}

.ihre-kundennummer-customerid {
  color: var(--mine-shaft);
  font-family: var(--font-family-nunito-bold);
  font-size: 11.2px;
  font-weight: 700;
  height: 15px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  top: 326px;
}

.companyemail {
  height: 12px;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 126px;
}

.companyaddresscity {
  height: 12px;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 111px;
}

.companyaddress {
  height: 12px;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 96px;
}

.ausgestellt-von {
  color: #010101;
  font-family: var(--font-family-nunito-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  height: 10px;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 67px;
}

.rectangle-10 {
  background-color: var(--white);
  border-radius: 17px;
  height: 96px;
  left: 64px;
  position: absolute;
  top: 137px;
  width: 173px;
}