/* screen - inkasso */

.inkasso {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 841.89px;
  width: 595.28px;
}

.inkasso .overlap-group1 {
  height: 842px;
  position: relative;
  width: 595px;
}

.inkasso .frame {
  align-items: flex-start;
  display: flex;
  height: 842px;
  left: 0;
  position: absolute;
  top: 0;
  width: 595px;
}

.inkasso .overlap-group {
  align-items: flex-end;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  padding: 52px 64px;
  width: 595px;
}

.inkasso .frame-23 {
  align-self: flex-start;
  height: 25px;
  width: 75px;
}

.inkasso .companyregnumber {
  height: 12px;
  margin-right: 28.76px;
  margin-top: 10px;
  min-width: 106px;
}

.inkasso .am-inkassodate {
  height: 12px;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 341px;
}

.inkasso .invamnt {
  color: var(--red);
  font-family: var(--font-family-nunito-bold);
  font-size: 22.5px;
  font-weight: 700;
  height: 31px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 286px;
}

.inkasso .inkasso-mitteilung {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 17.2px;
  font-weight: 700;
  height: 21px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 263px;
}

.inkasso .companyname {
  height: 12px;
  left: 396px;
  top: 81px;
}

.inkasso .e-mail-companyema {
  height: 9px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 815px;
  white-space: nowrap;
}

.inkasso .companyregnumber-1 {
  height: 9px;
  left: 43px;
  position: absolute;
  top: 804px;
  white-space: nowrap;
}

.inkasso .companyname-companyaddress {
  height: 9px;
  left: 43px;
  top: 793px;
  white-space: nowrap;
}

.inkasso .customeraddress {
  height: 9px;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 184px;
  width: 140px;
}

.inkasso .customeraddresscity {
  height: 9px;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 194px;
  width: 140px;
}

.inkasso .name-surname {
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 174px;
  white-space: nowrap;
}

.inkasso .companyname-1 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.inkasso .companyregnumber-2 {
  letter-spacing: 0;
  line-height: normal;
}


.addressinfo {
  height: 9px;
  left: 71px;
  letter-spacing: 0;
  font-size: 5px;
  color: #706f6f;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 175px;
}