/* screen - mahnung-1 */

.mahnung-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 841.89px;
  width: 595.28px;
}

.mahnung-1 .overlap-group1 {
  height: 842px;
  position: relative;
  width: 595px;
}

.mahnung-1 .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 842px;
  left: 0;
  padding: 27px 0;
  position: absolute;
  top: 0;
  width: 595px;
}

.mahnung-1 .rectangle-4 {
  background-color: var(--calico);
  height: 88px;
  width: 595px;
}

.mahnung-1 .mahnung-beitragzahlu {
  letter-spacing: 0;
  line-height: 27.0px;
  margin-left: 43px;
  margin-top: 182px;
  min-height: 54px;
}

.mahnung-1 .span1 {
  color: var(--log-cabin);
  font-family: var(--font-family-inter-medium);
  font-size: 21.8px;
  font-weight: 500;
}

.mahnung-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--calico);
  display: flex;
  height: 237px;
  justify-content: flex-end;
  margin-top: 15px;
  min-width: 595px;
  padding: 22px 36px;
}

.mahnung-1 .flex-container-6404776 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 191px;
  position: relative;
  width: 514px;
}

.mahnung-1 .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.3px;
  position: relative;
}

.mahnung-1 .offener-betrag {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 13.1px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16.3px;
  margin-left: 43px;
  margin-top: 16px;
  white-space: nowrap;
}

.mahnung-1 .rectangle-28 {
  background-color: #ececec;
  height: 34px;
  margin-left: 44px;
  margin-top: 15px;
  width: 208px;
}

.mahnung-1 .image-3 {
  align-self: flex-end;
  height: 94px;
  margin-right: 55.28px;
  margin-top: 15px;
  object-fit: cover;
  width: 82px;
}

.mahnung-1 .kundennummer-costu {
  height: 78px;
  left: 368px;
  letter-spacing: 0;
  line-height: 13.0px;
  position: absolute;
  text-align: right;
  top: 180px;
}

.mahnung-1 .invamnt {
  color: #e80d0e;
  font-family: var(--font-family-inter);
  font-size: 23.6px;
  font-weight: 700;
  height: 29px;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 652px;
}

.mahnung-1 .customeraddress {
  max-width: 150px; 
  word-wrap: break-word; 
  word-break: break-all; 
  overflow-wrap: break-word;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 11.4px;
  font-weight: 400;
  height: 14px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 205px;
  margin-top: 25px;
}

.mahnung-1 .name-surname {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 11.4px;
  font-weight: 400;
  height: 14px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 190px;
}

.mahnung-1 .mahnungsdatum-reminderdate1 {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 12.7px;
  font-weight: 400;
  height: 15px;
  left: 337px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 67px;
  white-space: nowrap;
}

.mahnung-1 .span0 {
  font-weight: 700;
}

.mahnung-1 .companyname-iban {
  height: 33px;
  top: 707px;
}

.mahnung-1 .span-1 {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-weight: 400;
}

.mahnung-1 .frame-23 {
  height: 50px;
  left: 43px;
  position: absolute;
  top: 43px;
  width: 165px;
}

.mahnung-1 .e-mail-companyema {
  height: 6px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 810px;
  white-space: nowrap;
}

.mahnung-1 .companyregnumber {
  height: 6px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 802px;
  white-space: nowrap;
}

.mahnung-1 .companyname-companyaddress {
  height: 6px;
  top: 795px;
  white-space: nowrap;
}

.mahnung-1 .companyname {
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}
