/* screen - mahnung-2 */

.mahnung-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 841.89px;
  width: 595.28px;
}

.mahnung-2 .overlap-group1 {
  height: 842px;
  position: relative;
  width: 595px;
}

.mahnung-2 .frame {
  align-items: flex-start;
  display: flex;
  height: 842px;
  left: 0;
  position: absolute;
  top: 0;
  width: 595px;
}

.mahnung-2 .overlap-group {
  align-items: flex-end;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  padding: 52px 64px;
  width: 595px;
}

.mahnung-2 .frame-23 {
  align-self: flex-start;
  height: 50px;
  width: 165px;
}

.mahnung-2 .companyregnumber {
  height: 12px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 28.76px;
  margin-top: 10px;
  min-width: 106px;
}

.mahnung-2 .am-reminderdate2 {
  height: 12px;
  left: 380px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 336px;
}

.mahnung-2 .invamnt {
  color: var(--red);
  font-family: var(--font-family-nunito-bold);
  font-size: 22.5px;
  font-weight: 700;
  height: 31px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 286px;
}

.mahnung-2 .aussergerichtliche-mahnung {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 17.2px;
  font-weight: 700;
  height: 21px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 263px;
}

.mahnung-2 .companyname {
  height: 12px;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81px;
}

.mahnung-2 .e-mail-companyema {
  height: 9px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 815px;
  white-space: nowrap;
}

.mahnung-2 .companyregnumber-1 {
  height: 9px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 804px;
  white-space: nowrap;
}

.mahnung-2 .companyname-companyaddress {
  height: 9px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 793px;
  white-space: nowrap;
}

.mahnung-2 .customeraddress {
  height: 9px;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 184px;
  width: 140px;
}

.mahnung-2 .name-surname {
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}
