/* screen - pro-forma */

.pro-forma {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 841.89px;
  width: 595.28px;
}

.pro-forma .overlap-group4 {
  background-image: url(../img/garin-chadwick-pcax3b3icig-unsplash-2.jpg);
  background-size: 100% 100%;
  height: 842px;
  position: relative;
  width: 595px;
}

.pro-forma .rectangle-5 {
  background-color: #ffffffe8;
  height: 842px;
  left: 0;
  position: absolute;
  top: 0;
  width: 595px;
}

.pro-forma .rectangle-4 {
  background-color: var(--calico);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 72px;
  left: 35px;
  position: absolute;
  top: 46px;
  width: 532px;
}

.pro-forma .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 701px;
  left: 23px;
  padding: 18px 0;
  position: absolute;
  top: 141px;
  width: 536px;
}

.pro-forma .overlap-group1 {
  align-items: flex-end;
  align-self: flex-start;
  background-color: var(--white);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 14px;
  min-height: 96px;
  padding: 30px 11px;
  width: 173px;
}

.pro-forma .name-surname {
  letter-spacing: 0;
  line-height: normal;
  height: 6px;
  width: 140px;
}

.pro-forma .customeraddress {
  height: 6px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 0;
  width: 140px;
}

.pro-forma .zipcodeaddress {
  height: 6px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 0;
  width: 140px;
}

.pro-forma .overlap-group {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 15.0px;
  margin-top: 40px;
  min-height: 33px;
  padding: 5.2px 11.0px;
  width: 121px;
}

.pro-forma .gold {
  background-image: url(../img/gold@2x.png);
}

.pro-forma .silver {
  background-image: url(../img/silver@2x.png);
}

.pro-forma .vector-10 {
  height: 1px;
  margin-top: 1px;
  width: 9px;
}

.pro-forma .vector-container {
  height: 2px;
  margin-top: 1px;
  position: relative;
  width: 9px;
}

.pro-forma .vector {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.pro-forma .vector-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 9px;
}

.pro-forma .vector-container-1 {
  height: 17px;
  position: relative;
  width: 9px;
}

.pro-forma .vector-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 9px;
}

.pro-forma .vector-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 9px;
}

.pro-forma .vector-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 9px;
}

.pro-forma .vector-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 9px;
}

.pro-forma .vector-6 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 9px;
}

.pro-forma .vector-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 9px;
}

.pro-forma .vector-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 9px;
}

.pro-forma .vector-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 9px;
}

.pro-forma .vector-13 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 9px;
}

.pro-forma .vector-8 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 9px;
}

.pro-forma .vector-14 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 9px;
}

.pro-forma .vector-15 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 9px;
}

.pro-forma .vector-16 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 9px;
}

.pro-forma .vector-17 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 9px;
}

.pro-forma .vector-9 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 9px;
}

.pro-forma .line-6 {
  margin-left: 27.0px;
  margin-top: 9px;
}

.pro-forma .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 27.0px;
  margin-top: 37px;
  min-width: 481px;
}

.pro-forma .rectangle-23 {
  background-color: var(--nugget);
  height: 13px;
  width: 347px;
}

.pro-forma .rectangle-26 {
  background-color: #717171;
  height: 13px;
  width: 134px;
}

.pro-forma .line-7 {
  margin-left: 27.0px;
  margin-top: 44px;
}

.pro-forma .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 17.0px;
  margin-top: 76px;
  min-width: 481px;
}

.pro-forma .rectangle-24 {
  background-color: var(--nugget);
  height: 13px;
  width: 335px;
}

.pro-forma .rectangle-25 {
  background-color: var(--red);
  height: 13px;
  width: 146px;
}

.pro-forma .wir-haben-dir-am-tr {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 77.0px;
  margin-top: 117px;
  min-height: 29px;
  width: 375px;
}

.pro-forma .bitte-beachte-dass {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 6.5px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 75.0px;
  margin-top: 5px;
  width: 377px;
}

.pro-forma .line-8 {
  margin-left: 25.0px;
  margin-top: 8px;
}

.pro-forma .companyname-companyaddress {
  align-self: flex-start;
  height: 6px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 42px;
  margin-top: 100px;
}

.pro-forma .companyregnumber {
  align-self: flex-start;
  height: 6px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 42px;
  margin-top: 2px;
}

.pro-forma .title {
  color: var(--black);
  font-family: var(--font-family-open_sans-regular);
  font-size: 26.2px;
  font-weight: 400;
  height: 36px;
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 63px;
}

.pro-forma .e-mail-companyema {
  height: 6px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 813px;
}

.pro-forma .frame-23 {
  height: 40px;
  left: 57px;
  position: absolute;
  top: 61px;
  width: 133px;
}

.pro-forma .customerid {
  height: 10px;
  left: 281px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 306px;
}

.pro-forma .subscriptionname {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: 21.6px;
  font-weight: 400;
  height: 25px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 286px;
  white-space: nowrap;
}

.pro-forma .kundennummer {
  color: var(--black);
  font-family: var(--font-family-helvetica-light);
  font-size: 12px;
  font-weight: 300;
  height: 14px;
  left: 65px;
  letter-spacing: 4.32px;
  line-height: normal;
  position: absolute;
  top: 314px;
  white-space: nowrap;
}

.pro-forma .zweck {
  height: 11px;
  left: 471px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
  white-space: nowrap;
}

.pro-forma .betrag {
  height: 11px;
  left: 407px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
  white-space: nowrap;
}

.pro-forma .place {
  height: 11px;
  left: 314px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
  white-space: nowrap;
}

.pro-forma .offener-betrag {
  height: 10px;
  left: 436px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 511px;
}

.pro-forma .iban {
  height: 11px;
  left: 196px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
  white-space: nowrap;
}

.pro-forma .place-1 {
  height: 11px;
  left: 67px;
  top: 533px;
  white-space: nowrap;
}

.pro-forma .zahlungsinformation {
  height: 10px;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 511px;
}

.pro-forma .bestelldatum {
  height: 11px;
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 397px;
  white-space: nowrap;
}

.pro-forma .kundennummer-1 {
  height: 11px;
  left: 429px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 447px;
  white-space: nowrap;
}

.pro-forma .pass {
  height: 11px;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 447px;
  white-space: nowrap;
}

.pro-forma .testphase {
  height: 11px;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 447px;
  white-space: nowrap;
}

.pro-forma .leistungszeitraum {
  height: 11px;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 447px;
  white-space: nowrap;
}

.pro-forma .telefon {
  height: 11px;
  left: 312px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 397px;
  white-space: nowrap;
}

.pro-forma .e-mail {
  height: 11px;
  left: 193px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 397px;
  white-space: nowrap;
}

.pro-forma .ip-adresse {
  height: 11px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 397px;
  white-space: nowrap;
}

.pro-forma .text-1 {
  height: 10px;
  left: 501px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 375px;
}

.pro-forma .zahlungsziel-invoicedate {
  height: 10px;
  left: 420px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 375px;
}

.pro-forma .bestelldaten {
  height: 10px;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 375px;
}

.pro-forma .name-surname-1 {
  height: 10px;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 355px;
}

.pro-forma .customerip {
  height: 10px;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 410px;
}

.pro-forma .customeremail {
  height: 10px;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 410px;
}

.pro-forma .companybic {
  height: 10px;
  left: 314px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 546px;
}

.pro-forma .in-den-mitgliederbei {
  height: 9px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 575px;
  white-space: nowrap;
}

.pro-forma .span1 {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
}

.pro-forma .costumerid {
  height: 10px;
  left: 471px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 545px;
}

.pro-forma .invamnt {
  height: 10px;
  left: 408px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 546px;
}

.pro-forma .companyiban {
  height: 10px;
  left: 196px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 546px;
}

.pro-forma .companyname {
  height: 10px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 545px;
  width: 100px;
  justify-content: flex-start !important;
}

.pro-forma .trialstartdate {
  height: 10px;
  left: 429px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 410px;
}

.pro-forma .customermobile {
  height: 10px;
  left: 314px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 410px;
}

.pro-forma .productname {
  height: 7px;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.pro-forma .customerid-1 {
  height: 7px;
  left: 430px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.pro-forma .trialdurationdays-tage {
  height: 7px;
  left: 195px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.pro-forma .trialstardate-invoiceenddate {
  height: 7px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.pro-forma .status {
  height: 10px;
  left: 466px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 355px;
}

.pro-forma .status-1 {
  color: var(--gray);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxs);
  font-weight: 400;
  height: 9px;
  left: 466px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 342px;
}

.pro-forma .place-2 {
  color: var(--gray);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxs);
  font-weight: 400;
  height: 9px;
  left: 68px;
  top: 342px;
}

.pro-forma .haben-sie-noch-frage {
  height: 9px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 741px;
}

.pro-forma .direkt-per-e-mail-s {
  height: 9px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 723px;
}

.pro-forma .e-mail-adresse-ein {
  height: 9px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 714px;
}

.pro-forma .sie-bekommen-ihre-re {
  height: 9px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 705px;
}

.pro-forma .line {
  height: 1px;
  width: 479px;
}

.pro-forma .place-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

