:root { 
  --black: #000000;
  --calico: #e1c694;
  --cape-cod: #404040;
  --fuscous-gray: #545354;
  --gray: #808080;
  --gunsmoke: #868686;
  --log-cabin: #212121;
  --mine-shaft: #333333;
  --mountain-mist: #979797;
  --natural-gray: #8f8a7f;
  --nugget: #c79335;
  --red: #ff0000;
  --white: #ffffff;
 
  --font-size-m: 11px;
  --font-size-s: 10.2px;
  --font-size-xs: 10px;
  --font-size-xxs: 7.6px;
  --font-size-xxxs: 7.5px;
  --font-size-xxxxs: 7.4px;
  --font-size-xxxxxs: 6.4px;
 
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-helvetica-light: "Helvetica-Light", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-medium: "Inter-Medium", Helvetica;
  --font-family-nunito-bold: "Nunito-Bold", Helvetica;
  --font-family-open_sans-bold: "Open Sans-Bold", Helvetica;
  --font-family-open_sans-regular: "Open Sans-Regular", Helvetica;
}
.inter-normal-mine-shaft-10px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-log-cabin-11px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-log-cabin-11px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-9-7px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.7px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-10px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-log-cabin-10px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.helvetica-regular-normal-gray-9-2px {
  color: var(--gray);
  font-family: var(--font-family-helvetica-regular);
  font-size: 9.2px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-black-8-3px {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: 8.3px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-9-5px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-mine-shaft-9-5px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 400;
}

.opensans-regular-normal-black-6-4px {
  color: var(--black);
  font-family: var(--font-family-open_sans-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-mine-shaft-9-2px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.2px;
  font-style: normal;
  font-weight: 400;
}

.nunito-bold-mine-shaft-9px {
  color: var(--mine-shaft);
  font-family: var(--font-family-nunito-bold);
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-gunsmoke-7-6px {
  color: var(--gunsmoke);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.opensans-bold-black-6-4px {
  color: var(--black);
  font-family: var(--font-family-open_sans-bold);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-8-9px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 8.9px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-log-cabin-11px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-mine-shaft-7-8px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 7.8px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-log-cabin-10px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-mine-shaft-8-9px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 8.9px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-white-8-3px {
  color: var(--white);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8.3px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-cape-cod-7-4px {
  color: var(--cape-cod);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-mountain-mist-5-1px {
  color: var(--mountain-mist);
  font-family: var(--font-family-inter);
  font-size: 5.1px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-natural-gray-4-7px {
  color: var(--natural-gray);
  font-family: var(--font-family-inter);
  font-size: 4.7px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-bold-black-6px {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: 6px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-mine-shaft-10-2px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-log-cabin-21-8px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: 21.8px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-9-5px-2 {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-black-7-5px {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}
