<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/bestelldaten1.css" />
    <link rel="stylesheet" type="text/css" href="css/bestelldaten2.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script></head>
  <body class="st-Email" bgcolor="#f6f9fc" style="border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-width: 100%; width: 100%;" override="fix">

      <!-- Background -->
      <table class="st-Background" bgcolor="#fafafa" border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 0; margin: 0; padding: 0;">
        <body>
<input type="hidden" id="anPageName" name="page" value="bestelldaten1" />
          <tr>
            <td class="st-Spacer st-Spacer--kill st-Spacer--height" height="64">
              <div class="st-Spacer st-Spacer--kill">&nbsp;</div>
            </td>
          </tr>

         
            <td style="border: 0; margin: 0; padding: 0;">
              <!-- Wrapper -->
              <table class="st-Wrapper" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" style="border-top-left-radius: 16px; border-top-right-radius: 16px; margin: 0 auto; min-width: 600px;">
                
                    <td style="border: 0; margin: 0; padding: 0;">
                      

  <table class="st-Preheader st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td align="center" height="0" style="border: 0; margin: 0; padding: 0; color: #ffffff; display: none !important; font-size: 1px; line-height: 1px; max-height: 0; max-width: 0; mso-hide: all !important; opacity: 0; overflow: hidden; visibility: hidden;">
        <span class="st-Delink st-Delink--preheader" style="color: #ffffff; text-decoration: none;">

          
    {{sex}} {{name}} {{surname}} Anmeldung vom {{registration.date&time}}


  

          <!-- Prevents elements showing up in email client preheader text, fyi https://parcel.io/blog/preheader-spacing -->
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏
           ͏  ͏  ͏  ͏  ͏  ͏
          ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­
          ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­
          ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­
          ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­
          ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­
           

        </span>
      </td>
    </tr>
  </tbody>

</table>


  <div style="background-color:#bf9747; padding-top:20px;">
    <table dir="ltr" class="Section Header" width="100%" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;">
      <tbody>
      <tr>
        <td class="Header-left Target" style="background-color: #ffffff;border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 0;line-height: 0px;mso-line-height-rule: exactly;background-size: 100% 100%;border-top-left-radius: 5px;" align="right" height="156" valign="bottom" width="252">
            <a href="{{product.site}}" target="_blank" style="-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;outline: 0;text-decoration: none;">
              <img alt="" height="156" width="252" src="https://stripe-images.s3.amazonaws.com/notifications/hosted/20180110/Header/Left.png" style="display: block;border: 0;line-height: 100%;width: 100%;">
            </a>
        </td>
        <td class="Header-icon Target" style="background-color: #ffffff;border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 0;line-height: 0px;mso-line-height-rule: exactly;background-size: 100% 100%; width: 96px !important;" align="center" height="156" valign="bottom">
          <a href="{{product.site}}" target="_blank" style="-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;outline: 0;text-decoration: none;">
            <img alt="" height="40" width="125" src="http://cdn.mcauto-images-production.sendgrid.net/efdf1cd10067bcc1/19d14a85-a03e-4baa-a8bc-3a8adcf2b48d/1481x448.png" style="display: block;border: 0;line-height: 100%;">
          </a>
        </td>
        <td class="Header-right Target" style="background-color: #ffffff;border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 0;line-height: 0px;mso-line-height-rule: exactly;background-size: 100% 100%;border-top-right-radius: 5px;" align="left" height="156" valign="bottom" width="252">
            <a href="{{product.site}}" target="_blank" style="-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;outline: 0;text-decoration: none;">
              <img alt="" height="156" width="252" src="https://stripe-images.s3.amazonaws.com/notifications/hosted/20180110/Header/Right.png" style="display: block;border: 0;line-height: 100%;width: 100%;">
            </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <table class="st-Copy st-Copy--caption st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
    <tbody>
      <tr>
        <td class="Content Title-copy Font Font--title" align="center" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;width: 472px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #32325d;font-size: 22px;line-height: 32px;">
            Bestelldaten
        </td>
      </tr>

      <tr>
        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
          <div class="st-Spacer st-Spacer--filler"> </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="st-Copy st-Copy--caption st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
    <tbody>
      <tr>
        <td class="Content Title-copy Font Font--title" align="center" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;width: 472px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 18px;">
          </span
                >
 </span
                ><span id="firstname" class="inter-regular-mine-shaft-10px">{"{"}firstname{"}"}</span> </span
                ><span id="lastname" class="inter-regular-mine-shaft-10px">{"{"}lastname{"}"}</span>
        </td>
      </tr>
      <tr>
        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
          <div class="st-Spacer st-Spacer--filler"> </div>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="st-Spacer st-Spacer--standalone st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td height="20" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>

  <table class="st-Copy st-Copy--standalone st-Copy--caption" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #687385; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; text-transform: uppercase;">

      
    </td>
<td width="90" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
          Kundennummer
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
          <span id="username" class="">{"{"}costumer.id{"}"}</span
            >

  </span>
    
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="140" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
          Domain
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
        <span id="site" class="">{"{"}product.site{"}"}</span>

    
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="150" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
      <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
          IP Adresse
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
  <span id="ip" class="customer">{"{"}customer.ip{"}"}
  </span>
      
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  

      
    </tr>
  </tbody>
</table>

  <table class="st-Spacer st-Spacer--standalone st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td height="32" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>

  <table class="st-Copy st-Copy--standalone st-Copy--caption" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #687385; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; text-transform: uppercase;">

      
    </td>
<td width="80" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
         Mobilnummer
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
       </span
                ><span id="mobile" class="">&#34;{"{"}customer.mobile{"}"}&#34;</span>

    
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="140" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
          Email
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
        </span
                ><span id="email" class="">&#34;{"{"}customer.email{"}"}&#34;</span>

        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="130" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
      <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
          Status
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 24px;white-space: nowrap;">
          
  <span>
    genutzt
  </span>
      
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="92" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  

      
    </tr>
  </tbody>
</table>

  <table class="st-Spacer st-Spacer--standalone st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td height="32" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
<div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>

  <table class="st-Copy st-Copy--standalone st-Copy--caption" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #687385; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; text-transform: uppercase;">

      
    </td>
<td width="51" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
        <tr>
       
        </td>
      </tr>
      <tr>
        <td class="data">
          <p><td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
            Hochgeladende Medien</p>
            <p><img id="user_photo" width="100px" height="100px" style="object-fit: contain;" src="" alt="User Photo"/></p>
            <p id="user_photo_date">{"{"}user_photo_date{"}"}</p>

              </div>
      
            

          
      </td>

         
    
        </td>
      </tr>
<tr>
        



    
        </td>
      </tr>

      </tbody>
    </table>
  </td>
    <td width="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #8898aa;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
         
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #525f7f;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
          
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
      <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #8898aa;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
                 </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #525f7f;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
  <span>
    
  </span>
      
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
  

      
    </tr>
  </tbody>
</table>

  <div class="st-Spacer st-Spacer--filler">&nbsp;</div><div class="st-Spacer st-Spacer--filler">&nbsp;</div><table class="st-Spacer st-Spacer--standalone st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody> 

      
  </tbody>
</table>

  <table class="st-Copy st-Copy--standalone st-Copy--caption" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #687385; font-family: -apple-system, &#39;SF Pro Display&#39;, &#39;SF Pro Text&#39;, &#39;Helvetica&#39;, sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; text-transform: uppercase;">

      
    </td>
<td width="51" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #696a6c;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
         
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
     


    
        </td>
      </tr>
<tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
    



    
        </td>
      </tr>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #414552; font-family: -apple-system, &#39;SF Pro Display&#39;, &#39;SF Pro Text&#39;, &#39;Helvetica&#39;, sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      
        <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: bold;">
          Adresse</span
            >
        </span><br>
       <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: regular;">
         <a>  
          <strong>Straße:</strong> <span id="street" class="customerstreet">{"{"}street{"}"}
  </span><br><span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: regular;">
    <a>  
    <strong>Hausnummer:</strong> <span id="building" class="customerbuilding">{"{"}building{"}"}
</span><br><span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: regular;">
  <a>  
  <strong>Postletizahl:</strong> <span id="zip" class="customerzip">{"{"}zip{"}"}
</span><br><strong>Ort:</strong> <span id="city" class="customercity">{"{"}city{"}"}
</span><br><br>
  <strong>ACHTUNG:</strong><br> Diese Angaben wurden bei uns von Dir hinterlegt, unter anderem zur Rechnungszustellung und Kontaktaufnahme. Diese werden selbstverständlich vetraulich beandelt<br><br>
  
      
  
  
  </p></td>
      </tbody>
    </table>
    
  </td>
  
    <td width="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
    <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #8898aa;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
         
        </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #525f7f;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
          
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
      <td class="DataBlocks-item" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
    <table style="border: 0;border-collapse: collapse;margin: 0;padding: 0;">
      <tbody>
      <tr>
        <td class="Font Font--caption Font--uppercase Font--mute Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #8898aa;font-size: 12px;line-height: 16px;white-space: nowrap;font-weight: bold;text-transform: uppercase;">
                 </td>
      </tr>
      <tr>
        <td class="Font Font--body Font--noWrap" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, &#39;Helvetica Neue&#39;, Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #525f7f;font-size: 15px;line-height: 24px;white-space: nowrap;">
          
  <span>
    
  </span>
      
        </td>
      </tr>
      </tbody>
    </table>
  </td>
    <td width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;">&nbsp;</td>
  

      
    </tr>
  </tbody>
</table>

  <table class="st-Spacer st-Spacer--standalone st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td height="32" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        
      </td>
    </tr>
  </tbody>
</table>

  <table class="st-Copy st-Copy--caption st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler">&nbsp;</div>
    </td></tr><tr>
      <td height="32" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        
      </td>
    </tr>
  

  </tbody></table><table class="st-Copy st-Copy--caption st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler">&nbsp;</div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler">&nbsp;</div>
      </td>
      <td class="st-Font st-Font--caption" style="border: 0; margin: 0; padding: 0; color: #414552; font-family: -apple-system, &#39;SF Pro Display&#39;, &#39;SF Pro Text&#39;, &#39;Helvetica&#39;, sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      
      <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: bold;">
        Bestellung vom <span id="trialstart" class="">{"{"}TrialStartDate{"}"}</span
          >
      </span><br><br><p>
     <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: regular;">
       <a> Hallo <span id="firstname" class="">{"{"}firstname{"}"}</span>,<br><br>
Wir freuen uns, dich als Mitglied bei uns begrüßen zu dürfen und möchten uns herzlich für den Kauf deiner Datebook GoldEdition Premium-Mitgliedschaft und dein Vertrauen bedanken.<br>
In diesem Dokument haben wir dir nochmal alle wichtigen Informationen zu unserem Portal und zu deiner zahlungspflichtigen Premium-Mitgliedschaft zusammengefasst.<br> Bitte mache dich hiermit im Detail vertraut und zögere nicht zu fragen, wenn etwas unklar erscheint.<br>
Wir sind gerne für dich da und helfen dir weiter.<br><br>
<strong>ACHTUNG:<strong><br> Bitte begegne allen Mitgliedern mit Respekt. Wir dulden hier keine Gewalt, Beleidigungen und Belästigungen.</strong></strong></a><strong><strong><br><br>
Mitglieder Support
<br>Service Team <br>Datebook GoldEdition      </strong>




      </td>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>
  <table class="st-Blocks st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--kill" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0;">
        <table class="st-Blocks-inner" bgcolor="#f2f2f2" border="0" cellpadding="0" cellspacing="0" style="border-radius: 8px;" width="100%">
          <tbody>
            
  <tr>
  <td style="border: 0; margin: 0; padding: 0;">
    <table class="st-Blocks-item" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td class="st-Spacer st-Spacer--blocksItemEnds" colspan="3" height="12" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
            <div class="st-Spacer st-Spacer--filler"> </div>
          </td>
        </tr>
        <tr>
          <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="16">
            <div class="st-Spacer st-Spacer--filler"> </div>
          </td>
          <td class="st-Blocks-item-cell st-Font st-Font--body" style="border: 0; margin: 0; padding: 0; color: #414552; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-size: 15px; line-height: 24px;">

            
    <table style="padding-left: 5px; padding-right:5px;" width="100%">
    <tr>
      <td>
         <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
     

      
      <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: bold;">
&nbsp;Zahlart: Kauf auf Rechnung
      </span><br>
     <span class="st-Delink" style="border: 0; margin: 0; padding: 0; font-weight: regular;">
             </span>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      
        </td>
</tr>
<tr>
    <td class="Table-description Font Font--body" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #414552;font-size: 15px;line-height: 24px; width: 100%; ">
        Laufzeit:
    </td>
    <td class="Spacer Table-gap" width="8" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="Table-amount Font Font--body" align="right" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #414552;font-size: 15px;line-height: 24px;">
      24 Monate
    </td>
  </tr><td class="Table-description Font Font--body" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #414552;font-size: 15px;line-height: 24px; width: 100%; ">
        Kostenfreie Testphase: 14 Tage
    </td>
    <td class="Spacer Table-gap" width="8" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    <td class="Table-amount Font Font--body" align="right" valign="top" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #414552;font-size: 15px;line-height: 24px;">
      (*Vereinbarung) 
    </td>

  <tr>
    <td class="Table-divider Spacer" colspan="3" height="6" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  </tr>
    <tr>
    <td class="Table-divider Spacer" colspan="3" height="6" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  </tr>

  <tr>
    <td class="Spacer" bgcolor="e6ebf1" colspan="3" height="1" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  </tr>

  <tr>
    <td class="Table-divider Spacer" colspan="3" height="8" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  </tr><td class="Table-divider Spacer" colspan="3" height="8" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  

      <tr>
    <td class="Table-description Font Font--body" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #414552;font-size: 16px;line-height: 27px; width: 100%; ">
        <strong>Zahlbetrag</strong>
    </td>
   
                    
                     
                        <td>&nbsp;</td>
                        <td width="380" align="center"><div> 
                           
                            <a href="" class="cta"
                    style="background: linear-gradient(to right, #E6B957, #FFF1B3 50%, #E6B957);border-radius:40px;color:#000000;display:inline-block;font-family: 'Source Sans Pro', Arial, sans-serif;font-size:16px;font-weight:900;line-height:24px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;"><span id="subscriptionamount" class="">{"{"}Subscription.Amount{"}"}€</span
                >
</a> 
                            <!--[if mso]>
                        </center>
                      </v:roundrect>
                    <![endif]--> 
                          </div></td>
                        <td>&nbsp;</td>
                      </tr>

  
  <tr>
    <td class="Table-divider Spacer" colspan="3" height="6" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  </tr>


  
    
      
    
  </table>
  

          </td>
          <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="16">
            <div class="st-Spacer st-Spacer--filler"> </div>
          </td>
        </tr>
        <tr>
          <td class="st-Spacer st-Spacer--blocksItemEnds" colspan="3" height="12" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
            <div class="st-Spacer st-Spacer--filler"> </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

          </tbody>
        </table>
      </td>
      <td class="st-Spacer st-Spacer--kill" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>


  <table class="st-Divider st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--divider" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td bgcolor="#e6ebf1" height="1" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--divider" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>

  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

        Die Kosten belaufen sich auf <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="tel:{Subscription.Amount}"><span id="subscriptionamount" class="">{"{"}Subscription.Amount{"}"}€</span></a> bei einer Laufzeit von <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="tel:{SubscriptionDuration}"><span id="subscriptionduration" class="">{"{"}SubscriptionDuration{"}"}</span></a>. Deine Abrechnung erfolgt wie gewünscht per Rechnung in kleinen Schritten. Deine Rechnungen erhältst Du bequem per Email, SMS zum Download oder Post an:
        <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="tel:{costumer.email}"><span id="email" class="">"{"{"}customer.email{"}"}"</span>
       </a> oder <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="tel:{customer.mobile}"><span id="mobile" class="">"{"{"}customer.mobile{"}"}"</span>
       </a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">


   
<a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.email}">1.</a> Meine E-Mail für die Zahlungsabwicklung, Kommunikation und den Login ist die:
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="email" class="">&#34;{"{"}customer.email{"}"}&#34;</span>

</a>  <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.mobile}">2.</a> Meine Handynummer zur Verifizierung der zahlungspflichtigen Bestellung ist die
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="mobile" class="">&#34;{"{"}customer.mobile{"}"}&#34;</span>
</a> <a style="border: 0; margin: 0; padding: 0; color: #bf9747 !important; font-weight: bold; text-decoration: none;  " href=""></a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.locatio}">3.</a>  Ich wohne in:

 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""> </span
                ><span id="location" class="">&#34;{"{"}customer.location{"}"}&#34;.</span>
</a> <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.datebirth}">4.</a> Ich bestätige das ich zum Zeitpunkt der zahlungspflichtige Bestellung volljährig bin (18 Jahre alt). Mein Geburtsdatum ist der:
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="datebirth" class="">&#34;{"{"}customer.datebirth{"}"}&#34;</span>


</a> <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{TrialDurationDaysl}">5.</a> Ich habe verstanden dass meine
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="trialdays" class="">{"{"}TrialDurationDays{"}"}</span
                >
</a> tägige TestPhase" (heute) am <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  ""></span
                ><span id="trialstart" class="">{"{"}TrialStartDate{"}"}</span
                >
</a> beginnt und am <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""> </span
                ><span id="trialend" class="">{"{"}TrialEndDate{"}"}</span
                >
</a> endet.



      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{MonthAmount}">6.</a> Ich bestelle die zahlungspflichtige Mitgliedschaft zum monatlichen Preis von
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="monthamount" class="">{"{"}MonthAmount{"}"}€</span
                >
</a>. Das entspricht einem Gesamtpreis von maximal <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " "></span
                ><span id="subscriptionamount" class="">{"{"}Subscription.Amount{"}"}€</span
                >
</a> für die Laufzeit von </a> <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="subscriptionduration" class="">{"{"}SubscriptionDuration{"}"}</span
                ><span class="inter-normal-mine-shaft-10px"></span>
</a> Monaten.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{SubscriptionDuration}">7.</a> Ich bestätige, dass ich die zahlungspflichtige
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " "></span
                ><span id="subscriptionduration" class="">{"{"}SubscriptionDuration{"}"}</span
                >
</a> monatige Laufzeit zur optimalen Nutzung des Portals buchen möchte. Die zahlungspflichtige Laufzeit endet somit automatisch spätestens am <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></span
                ><span id="subscriptionend" class="">{"{"}SubscriptionEndDate{"}"}</span>

</a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.email}">8.</a> Ich stimme zu, dass der Unternehmer bereits vor Ablauf der Widerrufsfrist mit der Ausführung des zahlungspflichtigen Vertrages beginnt.


 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></a>  <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href=""></a>

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

     <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.email}">9.</a> Ich nehme zur Kenntnis, dass durch meine Zustimmung zum sofortigen Beginn der Ausführung des zahlungspflichtigen Vertrages mein Widerrufsrecht erlischt.

 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="mailto:"></a>  <a style="border: 0; margin: 0; padding: 0; color: #bf9747 !important; font-weight: bold; text-decoration: none;  " href=""></a>

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.email}">10.</a> Die
 <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="https://edatinghub.s3.amazonaws.com/legals/1/files/AGB.pdf">Gebühren, Leistungsbeschreibung</a> ,die <a style="border: 0; margin: 0; padding: 0; color: #bf9747 !important; font-weight: bold; text-decoration: none;  " href=""></a><a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="https://edatinghub.s3.amazonaws.com/legals/1/files/AGB.pdf">AGB</a> ,sowie die <a style="border: 0; margin: 0; padding: 0; color: #9b7737 !important; font-weight: bold; text-decoration: none;  " href="https://edatinghub.s3.amazonaws.com/legals/1/files/AGB.pdf">Widerrufsbelehrung</a> habe ich zur Kenntnis genommen.


      </td>
<td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div><div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif; font-weight:400; font-size: 14px; line-height: 22px;">

      <a style="border: 0; margin: 0; padding: 0; color: #414552 !important; font-weight: bold; text-decoration: none;  " href="mailto:{customer.email}">11.</a> Zur Abwicklung des Vertrages willige ich in die Datenschutzerklärung ein.

 <a style="border: 0; margin: 0; padding: 0; color: #bf9747 !important; font-weight: bold; text-decoration: none;  " href=""></a>  <a style="border: 0; margin: 0; padding: 0; color: #bf9747 !important; font-weight: bold; text-decoration: none;  " href=""></a>.

      </td>


      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="8" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
  </tbody>
</table>
  <table class="st-Divider st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--divider" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td bgcolor="#e6ebf1" height="1" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
      <td class="st-Spacer st-Spacer--gutter" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;" width="48">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--divider" colspan="3" height="24" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"> </div>
      </td>
    </tr>

  </tbody>
</table>
  <table class="Section Copy" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;">
    <tbody>
    <tr>
      <td class="Spacer Spacer--gutter" width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
      <td class="Content Footer-legal Font Font--caption Font--mute" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;width: 472px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 16px;">
        Die Bestellübersicht lässt sich nicht darstellen?<a class="browser-link" href="https://www.datebook.gold" style="border: 0; margin: 0; padding: 0; color: #9b7737; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; text-decoration: none;" target="_blank" rel="noreferrer"><span style="border: 0; margin: 0; padding: 0; color: #9b7737; text-decoration: none;"> Betrachten Sie es in Ihrem Browser.</span></a>
      </td>
      <td class="Spacer Spacer--gutter" width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
    </tr>
    </tbody>
  </table>

<table class="Section Divider Divider--small" width="100%" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;"><tbody><tr><td class="Spacer Spacer--divider" height="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td></tr></tbody></table>

<table class="Section Copy" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;">
<tbody>
<tr>
  <td class="Spacer Spacer--gutter" width="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td>
  <td class="Content Footer-legal Font Font--caption Font--mute" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;width: 472px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;mso-line-height-rule: exactly;vertical-align: middle;color: #666666;font-size: 12px;line-height: 16px;">
      Sie erhalten diese Bestellübersicht, weil Sie einen Kauf getätigt haben auf  <a style="border: 0; margin: 0; padding: 0; color: #9b7737; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; text-decoration: none;" target="_blank" rel="noreferrer" href="https://www.datebook.gold">Datebook GoldEdition</a> . Eine ordentliche Rechnung erhalten Sie nach Zahlungseingang.
</td>
</tr>
</tbody>
</table>
<table class="Section Divider Divider--small" width="100%" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;"><tbody><tr><td class="Spacer Spacer--divider" height="20" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td></tr></tbody></table>


<table class="Section Section--last Divider Divider--large" width="100%" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;background-color: #ffffff;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;"><tbody><tr><td class="Spacer Spacer--divider" height="64" style="border: 0;border-collapse: collapse;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #ffffff;font-size: 1px;line-height: 1px;mso-line-height-rule: exactly;"> </td></tr></tbody></table>
                    </td>
                  </tr>
                  
             
              <!-- /Wrapper -->
            
        </tbody>
      </table>
<div>
      <!-- /Background -->

<script type="text/javascript">
function parse_query_string(query) {
  var vars = query.split("&");
  var query_string = {};
  for (var i = 0; i < vars.length; i++) {
    var pair = vars[i].split("=");
    var key = decodeURIComponent(pair.shift());
    const joined = pair.join("=")
    var value = !joined ? joined : decodeURIComponent(joined);
    // If first entry with this name
    if (typeof query_string[key] === "undefined") {
      query_string[key] = value;
      // If second entry with this name
    } else if (typeof query_string[key] === "string") {
      var arr = [query_string[key], value];
      query_string[key] = arr;
      // If third or later entry with this name
    } else {
      query_string[key].push(value);
    }
  }
  return query_string;
}

var query = window.location.search.substring(1)
var qs = parse_query_string(query)
/* Trigger URL template: bestelldaten.html?
username=%username%&
internetprovider=%internet_provider%&
browser=%browser%&
mobile=%mobile%&
mobileoperator=%mobile_operator%&
os=%os%&
amount=%
subscription_amount%&
sex=%sex%&
firstname=%firstname%&
lastname=%lastname%&
street=%street%&
building=%building%&
location=%location%&
zip=%zip%&email=%email%&
site=%product_site%&
ip=%ip%&
country=%country%&
city=%city%&
phonemodel=%phone_model%&
regdatetime=%regdatetime%&
datebirth=%datebirth%&
trialdays=%trial_days%&
trialstart=%trial_start%&
trialend=%trial_end%&
monthamount=%month_amount%&
subscriptionamount=%subscription_amount%&
subscriptionduration=%subscription_duration%&
subscriptionend=%subscription_end%&
companyname=%company_name%&
companyaddress=%company_address%&
companyemail=%company_email%&
user_photo=%photo%&
user_photo_date=%photo_date%
*/
$("[id=subscriptionend]").text(qs.costumerid)
$("[id=internetprovider]").text(qs.internetprovider)
$("[id=browser]").text(qs.browser)
$("[id=mobile]").text(qs.mobile)
$("[id=mobileoperator]").text(qs.mobileoperator)
$("[id=os]").text(qs.os)
$("[id=amount]").text(qs.amount)
$("[id=companyname]").text(qs.companyname)
$("[id=companyaddress]").text(qs.companyaddress)
$("[id=companyemail]").text(qs.companyemail)
$("[id=sex]").text(qs.sex)
$("[id=firstname]").text(qs.firstname)
$("[id=lastname]").text(qs.lastname)
$("[id=street]").text(qs.street)
$("[id=building]").text(qs.building)
$("[id=location]").text(qs.location)
$("[id=zip]").text(qs.zip)
$("[id=email]").text(qs.email)
$("[id=site]").text(qs.site)
$("[id=ip]").text(qs.ip)
$("[id=country]").text(qs.country)
$("[id=city]").text(qs.city)
$("[id=phonemodel]").text(qs.phonemodel)
$("[id=regdatetime]").text(qs.regdatetime)
$("[id=datebirth]").text(qs.datebirth)
$("[id=trialdays]").text(qs.trialdays)
$("[id=trialstart]").text(qs.trialstart)
$("[id=trialend]").text(qs.trialend)
$("[id=monthamount]").text(qs.monthamount)
$("[id=subscriptionamount]").text(qs.subscriptionamount)
$("[id=subscriptionduration]").text(qs.subscriptionduration)
$("[id=subscriptionend]").text(qs.subscriptionend)
$("[id=username]").text(qs.username)
$("[id=user_photo]").attr("src", qs.user_photo)
$("[id=user_photo_date]").text(qs.user_photo_date)
$(document).ready(function() {
  document.title = 'bestelldaten';
})
    </script>

  </body>
</html>